[Unit]
Description=$description
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=$working_directory
Environment=PYTHONPATH=$working_directory
ExecStart=$exec_start

[Install]
WantedBy=multi-user.target
